


    .wrapper{
    display: grid;
    
    grid-template-areas: 'header header header header header header'
      'Main Main Main Main Main Main'
      'Name Name Name Name Name Name'
      'Menu Menu Menu Menu Menu Menu'
      'footer footer footer footer footer footer';
     }
  
  .navbar {
    grid-area: header;
    background-color: rgb(73, 8, 8);
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    position:fixed;
    top: 0px;
    left: 0px;
   
   }
   @media only screen and (max-width: 600px) {
    .navbar{
        justify-content: space-around;
    }
  }

   .navbar>a>div{
    margin-left: 30px;
    margin-right: 20px;
    color: white;
    
    }
    @media only screen and (max-width: 600px) {
        .navbar>a>div {
            margin-left: 10px;
            margin-right: 5px;
        }
      }


.navbar>a:hover{
    background-color: rgb(72, 72, 163);
}
.navbar>a{
    text-decoration: none;
}
  
  .welcome-section { grid-area: Main; 
         background-image: url("https://cdn.pixabay.com/photo/2016/11/29/05/45/astronomy-1867616__480.jpg");
         background-repeat: no-repeat;
         color:khaki;
        background-size: cover;
        background-position: center center;
         height: 100vh;
         display: flex;
         align-items: center;
        justify-content: center;
        width:100%;
        font-family: 'Permanent Marker', cursive;
       
        }


     .Name { grid-area: Name;

                background-color: rebeccapurple;
                display: flex;
                justify-content: space-around;
                color: white;
                }
    .Name>h1{
        border-bottom: 1px solid whitesmoke;
    }
    @media only screen and (max-width: 768px) {
        .Name>h1{
            font-size: 7vw;
        }
      }
    

.Projects { grid-area: Menu;
            background-image: url("https://wallpapercave.com/wp/wp2729842.jpg");
            background-size: cover;
            background-position: center center;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            gap: 20px;
            
            
            }


  .item4 { grid-area: footer; 
         background-color: wheat;}
  



.Projects>a>div{
    width: 14em;
    height: 10em;
    background-color: lemonchiffon;
    display:flex;
    flex-direction: column;
   
    
}

.top{
    
    height: 80%;
    background-image: url("https://cdn.mos.cms.futurecdn.net/EzgdmaCQuT84bgDL4fhXZS.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    height:20%;
    background-color: grey;
    
}
 
  
  .wrapper > div {
    text-align: center; 
    padding: 20px 0;
    font-size: 30px;
  }

  h1{
    justify-items: center;
  }